target/
NOTES.md
.env
docs/book/
docs/build/
docs/.dart_tool/
docs/.packages
docs/.flutter-plugins
docs/.flutter-plugins-dependencies
docs/pubspec.lock
docs/web/graphs/
.rocky
.rocky-project

# VS Code extension
extensions/vscode/out/
extensions/vscode/node_modules/
extensions/vscode/*.vsix

# Browser extension
extensions/browser/node_modules/
extensions/browser/dist/
